/* Оптимизированные общие стили */
/* Основные переменные для тем */
:root {
    --background-color: #1F1F1F;
    --text-color: #d1cbcb;
    --card-bg: #1F1F1F;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --border-color: #1F1F1F;
    --header-bg: #041214;
    --header-text: #3498db;
    --hover-bg: #1f343a;
    --button-bg: #007bff;
    --button-text: #ffffff;
    --button-hover-bg: #0056b3;
    --table-bg-color: #181818;
}

/* Темная тема */
[data-theme="dark"] {
    --background-color: #142327;
    --text-color: #a19b9b;
    --card-bg: #041214;
    --card-shadow: rgba(0, 0, 0, 0.5);
    --border-color: #495057;
    --header-bg: #212529;
    --header-text: #ffffff;
    --hover-bg: #30424D;
    --button-bg: #00a6a6;
    --button-text: #ffffff;
    --button-hover-bg: #008080;
}
/* Общие стили */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Сайдбар */
.sidebar {
    flex: 0 0 224px;
    height: 100vh;
    position: fixed;
    background-color: #181818;
    width: 224px;
    min-width: 224px;
    transition: width 0.3s ease, height 0.3s ease;
    display: flex;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 60px;
    min-width: 60px;
}

/* Логотип в сайдбаре */
.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.sidebar .logo img {
    width: 100px;
    transition: width 0.3s ease, transform 0.3s ease;
}

.sidebar.collapsed .logo img {
    width: 60px;
    transform: rotate(90deg);
}

/* Навигация */
.sidebar .nav-link {
    color: #a19b9b;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.03em;
    transition: color 0.3s ease, padding 0.3s ease;
}

.sidebar .nav-link:hover {
    color: #3498db;
    line-height: 25px;
}

.sidebar .nav-link.active {
    color: #3498db;
    background: #1F1F1F;
    font-size: 18px;
}

.sidebar .nav-link .icon {
    margin-right: 10px;
    transition: margin 0.3s ease;
}

.sidebar.collapsed .nav-link .icon {
    margin-right: 0;
}

.sidebar .nav-link .text {
    transition: opacity 0.3s ease, width 0.3s ease;
}

.sidebar.collapsed .nav-link .text {
    opacity: 0;
    width: 0;
}

/* Основной контент */
.main {
    flex: 1;
    margin-left: 230px;
    transition: margin-left 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100vh;
}

.main.expanded {
    margin-left: 60px;
}

.content-container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Кнопка сайдбара */
.sidebar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sidebar-toggle:hover {
    color: #3498db;
}

/* Карточки */
.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow);
    padding: 20px;
    margin-bottom: 20px;
}

.card h5,
.card p {
    color: var(--text-color);
}

.card p {
    margin-bottom: 10px;
}

.h-100 {
    height: auto;
    max-height: 100%;
}

.list-group-item {
    display: block;
    padding: .75rem 1.25rem;
    background: rgba(10, 8, 8, 0%);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

/* Сетка */
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #30424D;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/* Улучшенные цвета колонок */
.column-1 {
    background-color: #3498db;
}

.column-2 {
    background-color: #2ecc71;
}

.column-3 {
    background-color: #e74c3c;
}

.column-4 {
    background-color: #9b59b6;
}

.column-5 {
    background-color: #f1c40f;
}

/* Карточки */
.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow);
    padding: 20px;
    margin-bottom: 20px;
}

.card h5 {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card p {
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--table-bg-color);
}

th,
td {
    padding: 5px;
    border: 1px solid #12102b;
    text-align: center;
    color: #a19b9b;
}

th {
    background-color: #041214;
    color: #d3d3d3;
}
.filter-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 15px;
}

/* Кнопки */
.btn-custom {
    padding: 12px 20px;
    background-color: #00a6a6;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #008080;
    transform: translateY(-2px);
}

/* Прочие стили */
label {
    display: inline-block;
    margin-bottom: .0rem;
}

.table-container {
    overflow-x: auto;
    margin: 0 auto 20px;
}

/* Мобильные стили */
@media (max-width: 992px) {
    .sidebar .collapsed {
        width: 60px;
    }

    .card {
        padding: 15px;
        margin: 10px 0;
    }
}

.filter-buttons button {
    background-color: #041214;
    color: #b5bcbf;
    border: 1px solid #b5bcbf;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filter-buttons button:hover {
    background-color: #00628b;
    color: #041214;
}

.loading {
    font-style: italic;
    color: gray;
}

.instrument-info {
    padding: 10px;
    background-color: #041214;
    color: #191919;
    border-radius: 5px;
}

.instrument-info h5 {
    margin-bottom: 10px;
}

#chart-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #30424D;
    border-radius: 5px;
}

/*НАЧИНАЮТСЯ МАЛЕНЬКИЕ РАЗМЕРЫ*/
@media (max-width: 992px) {

    /* Размеры для десктопов с узкими экранами */
    .sidebar .collapsed {
        width: 60px;
        min-width: 60px;

    }

    .card {
        padding: 15px;
        margin: 10px 0;
        background-color: #30424D;
        border-radius: 8px;
    }

    .h-100 {
        height: auto;
        max-height: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;

        text-align: center;
        color: #dbdbdb;
    }

    th {
        background-color: #041214;
        color: #b5bcbf;
    }
}

/* Основной стиль карточки с обводкой */
.card-custom {
    background-color: #041214;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed rgb(44, 4, 4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-custom h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8f9fa;
}

.card-custom p {
    margin: 3px 0;
    font-size: 1rem;
    color: #324645;
}

/* Карточка */
.card2-custom {
    padding: 20px;
    background-color: #202020;
    border-radius: 12px;
    color: #a19b9b;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.card2-title {
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #dcdcdc;
    text-align: center;
}

.trades-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.trades-table thead th {
    padding: 10px;
    background-color: #202020;
    color: #a19b9b;
    text-align: left;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
}

.trades-table tbody td {
    padding: 10px;
    background-color: #202020;
    color: #c5c5c5;
}

.trades-table tbody tr td:first-child {
    border-radius: 3px 0 0 3px;
}

.trades-table tbody tr td:last-child {
    border-radius: 0 3px 3px 0;
}

/* Кнопка */
.btn-custom {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #00a6a6;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #008080;
    transform: translateY(-2px);
}

.btn-custom:active {
    background-color: #007070;
    transform: translateY(0);
}

form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #335a5a;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-custom {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    padding: 10px;
    background-color: #202020;
    border: 1px solid #191919;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #a19b9b;
}

.form-custom label {
    font-size: 1rem;
    font-weight: bold;
    color: #a19b9b;
}

.form-custom input[type="date"] {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #190c1b;
    border-radius: 5px;
    background-color: #181818;
    color: #a19b9b;
    transition: border-color 0.3s ease;
}

.form-custom input[type="date"]:focus {
    border-color: #083f7a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-custom button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #a19b9b;
    background-color: #182029;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-custom button:hover {
    background-color: #182029;
    transform: translateY(-2px);
    color: #083f7a;
}

.form-custom button:active {
    background-color: #004085;
    transform: translateY(0);
}

.form-account {
    padding: 20px;
    background-color: #041214;
    border-radius: 10px;
    color: #a19b9b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.balance-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.balance-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance-list label {
    font-size: 1rem;
    font-weight: bold;
    color: #dcdcdc;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.balance-list input[type="text"] {
    background-color: #495057;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-size: 1rem;
    width: 60%;
    text-align: right;
    pointer-events: none;
}

.form-account button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-account button:hover {
    background-color: #0056b3;
}

.form-account button:active {
    background-color: #003f7f;
}

label {
    display: inline-block;
    margin-bottom: .0rem;
}

.accordion-button {
    background-color: #343a40;
    color: #fff;
}

.accordion-button:focus {
    box-shadow: none;
}

.table-dark {
    background-color: #212529;
    color: #fff;
}

.table-dark th,
.table-dark td {
    border-color: #495057;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.soft-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #1b1f2a;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.soft-table thead th {
    background-color: #212733;
    padding: 10px;
    font-weight: 700;
    text-align: left;
    border-bottom: 2px solid #2f3545;
}

.soft-table tbody td {
    padding: 8px 10px;
    border-bottom: 1px solid #2f3545;
    white-space: nowrap;
}

.soft-table tr:hover {
    background-color: #2f3545;
}

.analysis-container h2 {
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: #142327;
}

/* Контейнер */
.analysis-container {
    padding: 20px;
    background-color: #142327;
}

/* Заголовки */
.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: #a19b9b;
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00a6a6;
    margin-bottom: 15px;
}

/* Карточки */
.strategy-card,
.regression-card,
.indicators-card {
    padding: 15px;
    background-color: #0b171a;
    border: 0px solid #ff6e6e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Заголовок таймфрейма */
.timeframe-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #a19b9b;
    margin-bottom: 10px;
}

/* Таблица */
.analysis-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--table-bg-color);
    }


.analysis-table tr {
    border-bottom: 1px solid #eee;
}

.analysis-table td {
    padding: 10px;
    font-size: 0.95rem;
    /*color: #333;*/
    background-color: var(--table-bg-color);
}

.analysis-table td:first-child {
    font-weight: bold;
    /*color: #041214;*/
}

.analysis-table tr:last-child {
    border-bottom: none;
}

/* Секции */
.section {
    margin-bottom: 30px;
}

.table-container {
    overflow-x: auto;
    margin: 0 auto;
}

.expandable-row {
    transition: all 0.3s ease;
    cursor: pointer;
}

.expandable-row.expanded {
    height: auto;
    background-color: #2f3545;
    /* немного другой цвет для выделения */
}

.expandable-row.expanded td {
    padding-bottom: 30px;
    /* увеличить внутренний отступ для визуальной раздвижки */
}

#strategies-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#strategies-table th,
#strategies-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

#strategies-table th {
    background-color: #f4f4f4;
}

ul {
    list-style: none;
    padding: 0;
}
