{% load static %}
<div>
  <form>
    <div class="row">
      <div class="column">
        <div class="callout">
          <h3>Выбор торгового инструмента</h3>
          <div class="grid-x grid-margin-x align-middle"> <!-- Добавлено align-middle для вертикального центрирования -->
            <div class="cell small-6">
              <label for="category_select">Выберите категорию:</label>
              <select id="category_select" class="form-select" onchange="updateInstruments(this.value);">
                  <option value="majors">Major Currency Pairs</option>
                  <option value="metals">Metals</option>
                  <option value="cryptocurrencies">Cryptocurrencies</option>
                  <option value="stocks">Stocks</option>
                  <option value="indices">Indices</option>
                  <option value="commodities">Commodities</option>
              </select>
            </div>

            <div class="cell small-6">
              <label for="symbol">Выберите инструмент:</label>
              <div class="card bg-dark text-white">
                <select name="symbol" id="symbol" class="form-select" onchange="this.form.submit();">
                  <!-- Значения будут добавлены динамически с помощью JS -->
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="show-for-large large-3 columns">
        <img src="{% static 'logo/ailogo.png' %}" alt="Aitem Intellex">
      </div>
    </div>

    <div class="row column">
      <hr>
    </div>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const instruments = {
        majors: {{ majors|safe }},
        metals: {{ metals|safe }},
        cryptocurrencies: {{ cryptocurrencies|safe }},
        stocks: {{ stocks|safe }},
        indices: {{ indices|safe }},
        commodities: {{ commodities|safe }}
    };

    function updateInstruments(category) {
        const instrumentSelect = document.getElementById('symbol');
        instrumentSelect.innerHTML = ""; // Очищаем текущие значения

        if (instruments[category]) {
            instruments[category].forEach(instrument => {
                const option = new Option(instrument, instrument);
                instrumentSelect.add(option);
            });
        } else {
            console.warn("Не удалось найти категорию:", category);
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        updateInstruments('majors'); // Инициализация списка инструментов при загрузке страницы
    });
  </script>
</div>
