{% extends "base.html" %} {% load static %} {% block content %}
<div class="grid-container">
  <!-- Форма фильтрации по датам -->
  <!-- Таблица открытых позиций -->
  {% if open_positions %}

  <div class="card2-custom">
    <h5 class="card-title">Открытые Позиции</h5>
    <table class="trades-table">
      <thead>
        <tr>
          <th>Инструмент</th>
          <th>Объём</th>
          <th>Прибыль</th>
          <th>Тикет</th>
          <th>Направление</th>
        </tr>
      </thead>
      <tbody>
        {% for position in open_positions %}
        <tr>
          <td>{{ position.symbol }}</td>
          <td>{{ position.volume }}</td>
          <td>{{ position.profit }}</td>
          <td>{{ position.ticket }}</td>
          <td>{{ position.order_type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% else %}
  <p class="text-light">Нет открытых позиций</p>
  {% endif %}

  <!-- Поле поиска по символу и тексту -->
  <input
    type="text"
    id="searchInput"
    placeholder="Поиск по инструменту, числу или тексту рекомендации..."
    style="width: 400px; padding: 5px; margin-bottom: 10px"
  />

  <!-- Поле поиска по дате -->
  <input type="date" id="dateInput" style="padding: 5px; margin-bottom: 20px" />

  <ul id="recommendationsList">
    {% if page_obj %} {% for recommendation in page_obj %}
    <li class="recommendation-item">
      <strong>{{ recommendation.symbol }}</strong>:
      <em class="recommendation-date">
        Created at: {{ recommendation.created_at|date:"Y-m-d H:i" }}
      </em>
      <div class="analysis">{{ recommendation.analysis|safe }}</div>
      <br />
    </li>
    {% endfor %} {% else %}
    <p>Нет доступных рекомендаций.</p>
    {% endif %}
  </ul>

  <!-- Ссылки на страницы -->
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; Первая</a>
      <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
      {% endif %}
    </span>
  </div>

  <a href="{% url 'home' %}">Back to Home</a>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const searchInput = document.getElementById("searchInput");
      const dateInput = document.getElementById("dateInput");
      const recommendationsList = document.getElementById(
        "recommendationsList"
      );
      const recommendationsItems = recommendationsList.querySelectorAll(
        ".recommendation-item"
      );

      function filterRecommendations() {
        const searchTerm = searchInput.value.toLowerCase();
        const selectedDate = dateInput.value;

        recommendationsItems.forEach((item) => {
          const textContent = item.textContent.toLowerCase();
          const recommendationDate = item
            .querySelector(".recommendation-date")
            .textContent.split("Created at: ")[1];

          const matchesSearchTerm = textContent.includes(searchTerm);
          const matchesDate =
            !selectedDate || recommendationDate === selectedDate;

          if (matchesSearchTerm && matchesDate) {
            item.classList.remove("hidden");
          } else {
            item.classList.add("hidden");
          }
        });
      }

      searchInput.addEventListener("input", filterRecommendations);
      dateInput.addEventListener("change", filterRecommendations);
    });
  </script>
  {% endblock %}
</div>
