{% comment %} templates/technical_analysis/partials/analysis_table.html {% endcomment %}
{% load custom_tags %}{% load custom_filters %}
<table id="analysis-table">
  <thead>
      <tr>
        <th>Таймфрейм</th>
        <th>Тренд</th>
        <th>ICT</th>
        <th>SMC</th>
        <th>SNR</th>
        <th>Fibonacci OTE</th>
        <th>Regression Slope</th>
        <th>ATR</th>
        <th>CCI</th>
        <th>RSI</th>
        <th>MFI</th>
        <th>MACD</th>
        <th>Signal</th>
        <th>SMA</th>
        <th>Upper Band</th>
        <th>Lower Band</th>
        <th>VWAP</th>
        <th>Stochastic K</th>
        <th>Stochastic D</th>
        <th>Поддержка</th>
        <th>Сопротивление</th>
      </tr>
    </thead>
    <tbody>
      {% for timeframe, indicators in indicators_by_timeframe.items %}
      <tr class="expandable-row">
        <td>{{ timeframe }}</td>

        <td>{{ market_structure_by_timeframe|get_value:timeframe|get_value:"trend" }}</td>
        <td class="signal-{{ ict_strategies_by_timeframe|get_value:timeframe|get_value:"signal"|lower }}">
          {{ ict_strategies_by_timeframe|get_value:timeframe|get_value:"signal"|default:"no signal" }}
        </td>
        <td class="signal-{{ smc_strategies_by_timeframe|get_value:timeframe|get_value:"signal"|lower }}">
          {{ smc_strategies_by_timeframe|get_value:timeframe|get_value:"signal"|default:"no signal" }}
        </td>
        <td class="signal-{{ snr_strategies_by_timeframe|get_value:timeframe|get_value:"signal"|lower }}">
          {{ snr_strategies_by_timeframe|get_value:timeframe|get_value:"signal"|default:"no signal" }}
        </td>

        <td>{{ ote_levels_by_timeframe|get_value:timeframe|get_value:"fib_70"|default:"-" }}</td>

        <!-- Regression Slope -->
        <td>
          {% if regression_channel_by_timeframe|get_value:timeframe %}
            {{ regression_channel_by_timeframe|get_value:timeframe|get_value:"slope"|floatformat:5 }}
          {% else %}
            -
          {% endif %}
        </td>

        <td>{{ indicators.atr|join:", " }}</td>
        <td>{{ indicators.cci|join:", " }}</td>
        <td>{{ indicators.rsi|join:", " }}</td>
        <td>{{ indicators.mfi|join:", " }}</td>
        <td>{{ indicators.macd|join:", " }}</td>
        <td>{{ indicators.signal|join:", " }}</td>
        <td>{{ indicators.sma|join:", " }}</td>
        <td>{{ indicators.upper_band|join:", " }}</td>
        <td>{{ indicators.lower_band|join:", " }}</td>
        <td>{{ indicators.vwap|join:", " }}</td>
        <td>{{ indicators.stochastic_k|join:", " }}</td>
        <td>{{ indicators.stochastic_d|join:", " }}</td>

        <td>{{ market_structure_by_timeframe|get_value:timeframe|get_value:"support" }}</td>
        <td>{{ market_structure_by_timeframe|get_value:timeframe|get_value:"resistance" }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
