<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Jafar TradeSpace | {{ page_title }}{% endblock %}
    </title>

    {% load static %}

    <!-- Stylesheets -->
    <link
      rel="icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <nav class="sidebar">
        <div class="sidebar-sticky">
          <div class="logo">
            <button type="button" class="btn btn-sm sidebar-toggle">
              <i class="fas fa-bars"></i>
              <img
                src="{% static 'img/logo.png' %}"
                alt="Logo"
                class="img-fluid d-none d-md-block"
                width="128px"
                height="128px"
              />
              <img
                src="{% static 'img/logo.png' %}"
                alt="Logo"
                class="img-fluid d-md-none"
              />
            </button>
          </div>
          <br /><br />
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                href="{% url 'home' %}"
              >
                <span class="icon">
                  <img
                    src="{% static 'img/dashboard.png' %}"
                    alt="Dashboard Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'fundamental_analysis' %}active{% endif %}"
                href="{% url 'fundamental_analysis' %}"
              >
                <span class="icon">
                  <img
                    src="{% static 'img/fundamental-icon.png' %}"
                    alt="Driver Status Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">Фунд. анализ</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'technical_analysis' %}active{% endif %}"
                href="{% url 'technical_analysis' %}"
              >
                <span class="icon">
                  <img
                    src="{% static 'img/technical-icon.png' %}"
                    alt="Load Board Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">Тех. анализ</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'ai_analysis' %}active{% endif %}"
                href="{% url 'ai_analysis' %}"
              >
                <span class="icon">
                  <img
                    src="{% static 'img/ai-icon.png' %}"
                    alt="Weekly Gross Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">AI Анализ</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'recommendations_list' %}active{% endif %}"
                href="{% url 'recommendations_list' %}"
              >
                <span class="icon">
                  <img
                    src="{% static 'img/recomedtations.png' %}"
                    alt="Map Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">Рекомендации</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'trade_history' %}active{% endif %}"
                href="{% url 'trade_history' %}"
              >
                <span class="icon">
                  <img
                    src="{% static 'img/white-cam-2.png' %}"
                    alt=">История сделок"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">История сделок</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'trade_calculator' %}active{% endif %}"
                href="{% url 'trade_calculator' %}"
              >
                <span class="icon">
                  <img
                    src="{% static 'img/fundamental-icon.png' %}"
                    alt="Carrier Profile Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">Торговый калькулятор</span>
              </a>
            </li>
          </ul>
          <ul class="nav flex-column mt-auto">
            <!-- Нижние ссылки -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile-info' %}">
                <span class="icon">
                  <img
                    src="{% static 'img/technical-icon2.png' %}"
                    alt="Help Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">Профиль</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <span class="icon">
                  <img
                    src="{% static 'img/signout-menu-icon.png' %}"
                    alt="Sign Out Icon"
                    width="24px"
                    height="24px"
                  />
                </span>
                <span class="text">Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="main">
        {% include 'header.html' %}
        <div>{% include 'for_all_pages.html' %}</div>
        <div class="content-container">
          {% block content %}
          <!-- Здесь должен быть основной контент страницы -->
          {% endblock %}
        </div>
      </div>
    </div>

    <!-- JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/webspace-scrol.js' %}"></script>
    <script src="{% static 'js/webspace-min.js' %}"></script>
    <script src="{% static 'js/webspace.js' %}"></script>
  </body>
</html>
