<div class="global-info header-timezones fancy-clock custom-form">
  <div class="timezone">
    <strong>MT5 Server time</strong>
    <span id="mt5-time"></span>
  </div>
  <div class="timezone">
    <strong>Tokyo</strong>
    <span id="asia-time"></span>
  </div>
  <div class="timezone">
    <strong>Berlin</strong>
    <span id="europe-time"></span>
  </div>
  <div class="timezone">
    <strong>New York</strong>
    <span id="usa-time"></span>
  </div>
  {% comment %}
  <div class="timezone">
    <strong>time</strong>
    <span id="time"></span>
  </div>
  {% endcomment %}
  <div class="timezone">
    <strong>Local time</strong>
    <span id="local-time"></span>
  </div>
</div>

<!-- Новая секция для Upcoming News -->
<div class="clickable-row custom-form">
  <h5>Upcoming News: Economic news for the next 2 hours</h5>
  <ul id="economic-news-list">
    <!-- Новости будут добавлены динамически -->
  </ul>
  <button class="fancy-clock" id="toggle-news" onclick="toggleNews()">
    Show all
  </button>
</div>

<style>
  .hidden {
    display: none; /* Скрытие элемента */
  }
</style>
