{% load static %}
<aside class="hp-sidebar" id="sidebar">
    <div class="hp-sidebar-content">
        <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                <i class="ri-home-line"></i>
                Главная
            </a>
            <a class="nav-link" href="{% url 'fundamental_analysis' %}">
                <i class="ri-bar-chart-box-line"></i>
                Фундаментальный Анализ
            </a>
            <a class="nav-link" href="{% url 'technical_analysis' %}">
                <i class="ri-line-chart-line"></i>
                Технический Анализ
            </a>
            <a class="nav-link" href="{% url 'ai_analysis' %}">
                <i class="ri-robot-line"></i>
                AI Анализ
            </a>
        </nav>
    </div>
</aside>
